@model ImageModel

<div id="image-browser-@Model.Id" class="container-browser-image">
    <div class="image-browser-img">
        <img id="@Model.Id" src="@Model.ThumbUrl" data-url="@Model.Url" alt="@Model.Name" class="clearfix" width="150" height="150" />
    </div>

    @using (Html.BeginForm("Delete", "Media", FormMethod.Post, new { @class = "image-browser-delete" }))
    {
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.Name)

        <div class="image-controls">
             <a href="@Url.Action("Image", "Media", new { fileName = @Model.Id })" class="clearfix btn btn-link" target="_blank">
                <span class="glyphicon glyphicon-eye-open"></span>
            </a>
            <a href="@Url.Action("Download", "Media", new { fileName = @Model.Id })" class="clearfix btn btn-link" target="_blank">
                <span class="glyphicon glyphicon-download"></span>
            </a>
            <button type="submit" class="btn btn-link btn-default">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
        </div>
    }
</div>